<div class="row">
  <div class="col-md-12">
    <h2><%= @question.title %></h2>
    <div>Content: <%= @question.content %></div>
    <div>Name: <%= @question.name %></div>
    <hr>

    <h2>Answer</h2>
    <% if @question.answers.any? %>
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>Answer</th>
            <th>Name</th>
            <th>Menu</th>
          </tr>
        </thead>
        <tbody>
          <% @question.answers.each do |answer| %>
            <tr>
              <td>
                <%= answer.content %>
              </td>
              <td>
                <%= answer.name %>
              </td>
              <td>
                [Edit] 
                [Delete]
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No answer yet.</p>
    <% end %>

    <h2>Post new answer.</h2>
    <%= form_with model: [@question, @answer], local: true do |f| %>
      <%= f.hidden_field :question_id, { value: @question.id } %>
      <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Content</label>
        <%= f.text_area :content, class: "form-control" %>
      </div>

      <div class="text-center">
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>